# UI
PyQt6>=6.11.0

# LLM
google-genai

# Wake Word
openwakeword>=0.6.0

# STT
SpeechRecognition>=3.16.0
SpeechRecognition[whisper-local]

# TTS 및 오디오 재생
edge-tts>=7.2.8
pygame>=2.6.0

# Utility
requests>=2.33.1
python-dotenv>=1.2.2